<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Results</title>
</head>
<link rel="stylesheet" href="./public/styles/base.css">
<body>

<main>
   <%-include(' ./pages/books/detail.ejs') %>

  
</main>

<footer>
    
</footer>

</body>
</html>